<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/ChessLogo.ico">

    <title>CUCC 2024</title>

    <!-- 
        All CSS files must be in the public/css folder
        use the ejs formatting to reference the files. Not full path.
     -->

    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap-social.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/jumbotron.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/home">CUCC 2024</a>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->

      <div id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home <!--<span class="sr-only">(current)</span>--></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Canadian University Chess Championship 2024</h1>
          <p>Hosted by Queen's University Chess Club</p>
        </div>
      </div>

        <hr>

      </div>

    
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img 
                    src="images/grantHall.jpg"
                    alt="Ontario hall in Kinston, Ontario"
                    >
                <div class="card-body">
                  <p class="card-text">
                    <br>
                    WHEN: January 26 - 28, 2024<br>
                    WHERE: 43 University Ave, Kingston, ON<br>
                    <br>
                  </p>
                </div>
              </div>
        </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img 
                    src="images/chess.jpg"
                    alt="Hand reaching for chess piece"
                    >
                <div class="card-body">
                    <p class="card-text">
                        5 Rounds of CFC Rated 90|30<br>
                        Friday: Opening Ceremony 6 PM<br>
                        Saturday: 9:00 AM, 1:30 PM, 6:00 PM<br>
                        Sunday: 9:00 AM, 2:00 PM<br>
                    </p>
                </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img 
                    src="images/bughouse.jpg"
                    alt="people playing chess in a bar"
                    >
                <div class="card-body">
                    <p class="card-text">
                        <br>
                        Optional BugHouse tournament Friday<br>
                        Details TBA<br>
                        <br>
                    </p>
                </div>
              </div>
          </div>
        </div>

        <hr>

        <!-- TABLE OF REGISTERED TEAMS -->

    
      <h2>Registered Teams</h2><br>
      <h4>Crown Section</h4>
      <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Board</th>
                <th scope="col">Name</th>
                <th scope="col">Rating</th>
                <th scope="col">CFC ID</th>
            </tr>
        </thead>
        <tbody>
        <% for (var i = 0; i < schools.length; i++) { %>
            <% if (schools[i].section === 0 && schools[i].approved === true) { %>
                <th scope="row"><%= schools[i].name %></th>
                <% for (var j = 0; j < schools[i].players.length - 1; j++) { %>
                    <tr>
                        <td><%= j+1 %></td>
                        <td>
                            <%= schools[i].players[j].name %>
                            <% if ((schools[i].captain - 1) == j) { %>
                                 (Captain)
                            <% } %>
                        </td>
                        <td><%= schools[i].players[j].rating %></td>
                        <td><%= schools[i].players[j].cfcID %></td>
                    </tr>
                <% } %>
            <% } %>
        <% } %>
        </tbody>
      </table>

      <br>
      <h4>Reserve Section</h4>
      <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Board</th>
                <th scope="col">Name</th>
                <th scope="col">Rating</th>
                <th scope="col">CFC ID</th>
            </tr>
        </thead>
        <tbody>
        <% for (var i = 0; i < schools.length; i++) { %>
            <% if (schools[i].section === 1 && schools[i].approved === true) { %>
                <th scope="row"><%= schools[i].name %></th>
                <% for (var j = 0; j < schools[i].players.length - 1; j++) { %>
                    <tr>
                        <td><%= j+1 %></td>
                        <td>
                            <%= schools[i].players[j].name %>
                            <% if ((schools[i].captain - 1) == j) { %>
                                (Captain)
                           <% } %>
                        </td>
                        <td><%= schools[i].players[j].rating %></td>
                        <td><%= schools[i].players[j].cfcID %></td>
                    </tr>
                <% } %>
            <% } %>
        <% } %>
        </tbody>
      </table>
      <br>
      <hr>

    </div>
    </main>

    <footer class="container">
      <p>&copy; Queen's University Chess Club 2023</p>
    </footer>

    <!-- Bootstrap core JavaScript MUST BE IN PUBLIC FOLDER
        Use ejs formatting to reference files. Not full path name
    ================================================== -->
    <script src="js/jquery.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
  </body>
</html>
